# Ansible runtime directories
.ansible/

# Molecule runtime directories  
.molecule/
.cache/

# Python virtual environments
venv/
.venv/

# Python bytecode
*.pyc
__pycache__/

# OS files
.DS_Store
Thumbs.db